{{outlet}}

<table dir="rtl">
    <thead>
        <tr>
            <th>משימות</th>
            <th><button {{action "addToggle" }} class="add"><span class="plusCircle">+</span></button></th>
        </tr>
    </thead>
    <tbody>
        {{#if addToggleCondition}}
        <tr class="addingTask">
            <td>{{input value=newTask placeholder="כותרת"}}</td>
            <td><button {{action 'createTask'}}>הוסף</button></td>
        </tr>
        {{/if}}
        {{#each model as |task|}}
        <tr>

            {{#if task.isDone}}
            <td><label class="container">
                    <input class="done" type="checkbox" checked={{task.isDone}}
                        onchange={{action "toggleCompleted" task.id}}>
                    <span class="checkmark"></span>

                </label>
                <span class=editDone>{{task.id}}.</span>
                <label class=editDone>{{task.title}}</label>
            </td>
            {{else}}

            <td><label class="container">
                    <input class="done" type="checkbox" checked={{task.isDone}}
                        onchange={{action "toggleCompleted" task.id}}>
                    <span class="checkmark"></span>
                </label>

                {{task.id}}.
                <div class="titleValue">
                    {{ember-inline-edit value=(readonly value) saveButtonClass=task.id 
                 enable=true placeholder=task.title onSave=(action 'onSave' task.id)
                 showSaveButton=false showCancelButton=false}}
                </div>
            </td>
            {{/if}}

            <td><button {{action 'removeTask' task.id}} class="del"><b>X</b></button></td>

        </tr>
        {{/each}}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">
                <p>נשארו:{{tasksTodo.length}}<span id="arraySizeUnCompleted"></span> הושלמו:{{doneTasks.length}}<span
                        id="arraySizeCompleted"></span>
                    סה"כ:{{model.length}}<span id="arraySize"></span></p>
            </td>
        </tr>
    </tfoot>
</table>